<% fillings = ["Carnitas", "Al Pastor", "Steak", "Fish", "Veggie"] %>

<h1>I love tacos </h1>
<p>There are so many kinds of tacos:</p>

  <% for filling in fillings %>

    <li><%= filling %></li>

  <% end %>


